h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, label{
    color: white !important;
}

/***** HEADER STYLES *****/
.market{
    padding: 0 30px 0 10px;
    margin-top: -15px;
    font-size: 13px !important;
}
#top .navbar-static-top, #top .navbar{
    background: none !important;
}
#top .navbar-brand{
    padding: 0 !important;
    padding-top: 10px;
}
.menu-front-mobile{
    display: none !important;
}
.navbar-nav .nav-link{
    font-size: 13px !important;
}
.menu-front-desktop .nav-link{
    text-transform: none;
    font-size: initial !important;
}
#navbarToggler{
    margin-left: 65px;
}

@media screen and (max-width: 991px){
    .menu-front-desktop{
        display: none;
    }
    .menu-front-mobile{
        display: block !important;
    }
    #navbarToggler{
        margin-left: 20px;
    }
    .burger-btn{
        display: flex;
        padding-bottom: 10px;
    }
    .navbar-nav .nav-link{
        font-size: initial !important;
    }
}
@media screen and (max-width: 420px){
    .content-image-header p{
        font-size: 18px;
    }
}
/*************************/
.home-table .table td{
    border-top: none;
    border-bottom: 1px solid #282e3b;
    color: white;
    text-align: right;
}
.priceup{
    color: #26da71 !important;
}
.pricedown{
    color: #ff5a1c !important;
}
#wrap{
    background-image: radial-gradient(#003B53, #000B15);
}

.home-table thead{
    background: none !important;
    text-transform: uppercase;
    color: #626b7f;
}

.home-table thead th{
    color: #626b7f;
    border-top: 0 !important;
    border-bottom: 1px solid #282e3b !important;
    text-align: right;
}

.home-table .table td:nth-child(1), .table th:nth-child(1){
    text-align: left !important;
}

#pagination{
    border: none!important
}
#pagination button{
    background: none !important;
    border: 1px solid #282e3b !important;
    border-radius: 5px !important; 
    color: white;
}

/*** ICO PAGE ***/
.ico-mobile{
    border-bottom: 1px solid #282e3b;
    padding: 10px 0;
}
.ico-mobile  .ion_icon {
    padding: 13px;
    font-size: 18px!important;
}
.ico-title-img-mobile{
    background: none !important;
    width: 100%;
    border: none !important;
    text-align: left;
}
.ico-title-img-mobile>div{
    display: flex;
    width: 100%;
}
.ico-title-img-mobile>div>div>a{
    padding-left: 13px;
}
.ico-title-img-mobile:focus{
    outline: none !important;
}
.ico-icons-mobile{
    display: block;
    padding-left: 70px;
}
.ico-icons-mobile>p{
    padding-right: 10px;
}
.ico-mobile .collapse{
    padding: 10px 0;
    font-size: 14px;
}
.ico-table .table tr td a{
    color: white !important;
}

.table-bordered td, .table-bordered th{
    border: none !important;
    border-bottom: 1px solid #282e3b !important;

}
.table-bordered th{
    color: #626b7f;
    font-size: 14px;
}
.ico-mobile-display .nav-tabs .nav-link, .ico-desktop-display .nav-tabs .nav-link{
    border-radius: 20px !important;
    color: #626b7f;
}
.ico-mobile-display .nav-tabs .nav-link:hover, .ico-desktop-display .nav-tabs .nav-link:hover{
    color: white;
    border-color: rgba(255,255,255, 0.1);
}
.ico-mobile-display .nav-tabs .nav-link.active, .ico-desktop-display .nav-tabs .nav-link.active{
    border-color: rgba(255,255,255, 0.1);
    background-color:rgba(255,255,255, 0.1);
}
.ico-mobile-display .nav-tabs .nav-link.active:focus, .ico-desktop-display .nav-tabs .nav-link.active:focus{
    border-color: rgba(255,255,255, 0.1);
    background-color:rgba(255,255,255, 0.1);
}
.ico-mobile-display .nav-tabs .nav-link.active:hover, .ico-desktop-display .nav-tabs .nav-link.active:hover{
    border-color: rgba(255,255,255, 0.1);
}
.ico-mobile-display .nav-tabs, .ico-desktop-display .nav-tabs{
    border-bottom: none !important;
}
.ico-mobile-display{
    display: none;
}
@media screen and (max-width: 991px){
    .ico-desktop-display{
        display: none;
    }
    .ico-mobile-display{
        display: block;
    }
}

.itemsStock{
    display: none;
}
/*********** Loading spinner ***********/
.lds-roller {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99;
    border-radius: 0 0 10px 10px;
    justify-content: center;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/********* end loading spinner *********/