h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, label{
    color: white !important;
}

/***** HEADER STYLES *****/

#top .navbar-static-top, #top .navbar{
    background: none !important;
}
#top .navbar-brand{
    padding: 0 !important;
    padding-top: 10px;
}
.menu-front-mobile{
    display: none;
}
.navbar-nav .nav-link{
    font-size: 13px !important;
}
.menu-front-desktop .nav-link{
    text-transform: none;
    font-size: initial !important;
}
#navbarToggler{
    margin-left: 65px;
}

@media screen and (max-width: 991px){
    .menu-front-desktop{
        display: none;
    }
    .menu-front-mobile{
        display: block;
    }
    #navbarToggler{
        margin-left: initial;
    }
    .burger-btn{
        display: flex;
        padding-bottom: 10px;
    }
    .navbar-nav .nav-link{
        font-size: initial !important;
    }
}
@media screen and (max-width: 420px){
    .content-image-header p{
        font-size: 18px;
    }
}
/*************************/
.home-table .table td{
    border-top: none;
    border-bottom: 1px solid #282e3b;
    color: white;
    text-align: right;
}
.priceup{
    color: #26da71 !important;
}
.pricedown{
    color: #ff5a1c !important;
}
#wrap{
    background-image: radial-gradient(#003B53, #000B15);
}

.home-table thead{
    background: none !important;
    text-transform: uppercase;
    color: #626b7f;
}

.home-table thead th{
    color: #626b7f;
    border-top: 0 !important;
    border-bottom: 1px solid #282e3b !important;
    text-align: right;
}

.home-table .table td:nth-child(1), .table th:nth-child(1){
    text-align: left !important;
}

#pagination{
    border: none!important
}
#pagination button{
    background: none !important;
    border: 1px solid #282e3b !important;
    border-radius: 5px !important; 
    color: white;
}